li {
  list-style: none;
}
input {
  margin: 5px;
}
.App {
  margin-left: 200px;
  margin-top: 100px;
}
.todo {
  background-color: aliceblue;
}
.todo.done {
  text-decoration: line-through;
  background-color: white;
}
